<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a7bc1d9-5abd-4430-8d32-fc9810fe3378" Alias="maintenancePage" Level="1">
  <Info>
    <Name>Maintenance page</Name>
    <Icon>icon-tools color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MaintenancePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5bc69cc4-be05-4234-91ea-7a22e119fce0">MaintenancePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>